{% extends 'pages/common.html' %}
{% load static %}
{% block content %}





<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a   href="{% url 'home' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About Us</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">About Us</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->






<div class="bg_color_1">
  <div class="container margin_120_95">
    <div class="main_title">
      <h1>About 'Amamr Doctor Application'</h1>
     
    </div>
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <figure class="add_bottom_30">
          <img src="/static/img/about.png" class="img-fluid" alt="">
        </figure>
      </div>
      <div class="col-lg-5">
        <br>
        <br>
        <p>We believe healthcare will be digital. But unstructured data and a lack of analytical capability keep providers from unlocking the full potential of their organizations. By managing data as a strategic asset, providers will gain unprecedented insight into clinical and non-clinical processes. They will be able to leverage powerful analytical tools, including AI technologies, to improve decision making. Digital technologies will bring patients and care teams closer together. A cultural shift to a digital mindset, coupled with new technology, will enable development of a continuously improving learning health system.<strong></p>
        <p><em>CEO - Amar Doctor Application</em></p>
      </div>
    </div>
    <!--/row-->
  </div>
  <!--/container-->
</div>







{% endblock  %}





