<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="{% url 'p_dashboard' %} " class="booking-doc-img">
                    <img src="{{user.patient.profile_pic.url}}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h2>Mr : <strong>{{user}}</strong> </h3>
                    <div class="patient-details">
                        
                        <h5><i class="fas fa-arrow-right fa-lg"></i>Phone: {{user.patient.phone}}</h5>
                        <h5><i class="fas fa-arrow-right fa-lg"></i>Age : 22 {{user.patient.age}}</h5>
                        <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>Location : Dhaka,Bangladesh</h5>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li class="active">
                        <a href="{% url 'p_dashboard' %} ">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>


                    <li>
                        <a  href="{% url 'pescription_show' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Percription</span>
                        </a>
                    </li>
                  
                    <!-- <li>
                        <a  href="">
                            <i class="fas fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">23</small>
                        </a>
                    </li> -->
                   
                    <!-- <li>
                        <a href="change-password.html">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li> -->
                    <li>
                        <a class="text-danger" href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span  >Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
<!-- / Profile Sidebar -->