<div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="{{user.doctor.imageURL}}" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h2><strong>Dr. </strong>{{user}}</h3>
                
                <div class="patient-details">
                    <h5 class="mb-0"><strong> Speciality : </strong>{{user.doctor.speciality}}</h5>
                    <br>
                    <h5 class="mb-0"><strong> Degree : </strong>{{user.doctor.degre}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                <li>
                    <a  href="{% url 'doctors_dash' %} ">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li class="">
                    <a href="{% url 'appointments' %} ">
                        <i class="fas fa-calendar-check"></i>
                        <span>Appointments</span>
                    </a>
                </li>

<!-- 
                <li>
                    <a href="{% url 'patients_list' %} ">
                        <i class="fas fa-user-injured"></i>
                        <span>Patients List</span>
                    </a>
                </li> -->
           

<!-- 
                <li>
                    <a  href="{% url 'dc_chat' %}">
                        <i class="fas fa-file-invoice"></i>
                        <span>Chat</span>
                    </a>
                </li> -->

             
                

  
            

                
               

                <li>
                    <a  href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>



            </ul>
        </nav>
    </div>
</div>
<!-- /Profile Sidebar -->