{% extends 'pages/common.html' %}

{% load static %}


{% block content %}



<div id="booking" class="section">
	<div class="section-center">
		<div class="container">
			<div class="row">


				<div class="col-md-6">

					<img style="height: 400px; width:400px;" src="/static/img/book_now.png" alt="">
					
				</div>

				<div class="col-md-6">

					<form>

						<div class="form-group">
							<input class="form-control" type="text" placeholder="Enter Address, zip, city or airport">
							<span class="form-label">Destination</span>
						</div>


						<div class="form-group">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<span class="select-arrow"></span>
							<span class="form-label">Guests</span>
						</div>



						<div class="form-group">
							<select class="form-control">
								<option>0</option>
								<option>1</option>
								<option>2</option>
							</select>
							<span class="select-arrow"></span>
							<span class="form-label">Children</span>
						</div>


						<div class="form-group">
							<input class="form-control" type="date" required>
							<span class="form-label">Check In</span>
						</div>


						<div class="form-group">
							<input class="form-control" type="date" required>
							<span class="form-label">Check out</span>
						</div>


						<div class="form-btn">
							<button class="submit-btn">Check availability</button>
						</div>

					</form>


				</div>

















			</div>
		</div>
	</div>
</div>





{% endblock content %}